.founder{
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    width:100%;
    height: auto;
}

#leftpart{
    width:40%;
    height: 400px;
    background-color: red;
}

#rightpart{
    width:40%;
    height: 400px;
    background-color: rgb(59, 182, 59);
}